body{
    background-color: oklch(12.9% 0.042 264.695);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 60px ;
}

header > .topnav {
    overflow:hidden;
    background-color: red;
}
a {
    color: white;
    cursor: pointer;
    text-decoration-line: none;
    transition: 0.2s;
}

a:hover {
    color: red;
    font-size:larger;
}

header > .topnav > input {
    border: none;

}

header > .topnav > #lupa {
    color: black;

}

header > .topnav {
    background-color: white;
}
