body{
    background-color: oklch(12.9% 0.042 264.695);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

header > #container {
    padding: 8px;
    display: flex;
    background-color: oklch(27.9% 0.041 260.031);
    width: 430px;
    height: 140px;
    align-items: flex-end;
    justify-content: center;
}

header > #container > .topnav {
    display: flex;
    overflow:hidden;
    align-items: flex-end;
    background-color: white;
    border-radius: 8px;
    width: 400px;
}
a {
    color: white;
    cursor: pointer;
    text-decoration-line: none;
    transition: 0.2s;
}


a:hover {
    color: red;
    font-size:larger;
}

header > #container > .topnav > input {
    border: none;

}

header > #container > .topnav > #lupa {
    color: black;

}
