body {
    background-color: oklch(12.9% 0.042 264.695);
    background-size: cover;
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 12px;
}

header > #container {
    padding: 8px;
    display: flex;
    background-color: #0F172B;
    width: 100%;
    max-width: 600px;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

header > #container > .topnav {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    width: 100%;
    height: 36px;
    padding: 4px 8px;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: red;
    font-size: larger;
}

header > #container > .topnav > input {
    border: none;
    flex: 1;
    padding: 4px 8px;
    outline: none;
}

header > #container > .topnav > #lupa {
    color: black;
    transform: scale(1);
    padding-right: 8px;
}

#logo {
    height: 120px;
    width: auto;
    transform: scale(1.8);
}

#login {
    width: auto;
    height: auto;
    transform: scale(1.1);
}

#listaPokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}

ul#listaPokemons li {
  margin: 5px 0;
  font-size: 18px;
  color: white;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 350px;
    gap: 1rem;
    background: #1e1e1e;
    color: #f2f2f2;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px #333;
    transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-img {
    width: 200px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 8px;
}

#filtros {
    background-color: white;
    border: none;
    width: 5%;
    height: 5px;
    cursor: pointer;
    border-radius: 16px;
    padding: 10px;
}


@media (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  #logo {
    height: 100px;
  }

  header > #container {
    max-width: 90%;
  }

  .pokemon-card {
    width: 200px;
    height: 320px;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  header > #container {
    width: 100%;
    height: auto;
  }

  .topnav {
    flex-direction: row;
    height: auto;
    padding: 6px;
  }

  #barra {
    width: 100%;
    height: 36px;
    font-size: 16px;
  }

  #logo {
    height: 80px;
    transform: scale(1);
  }

  #login {
    font-size: 18px;
    transform: none;
  }

  .pokemon-card {
    width: 90%;
    max-width: 300px;
    height: auto;
  }

  .pokemon-img {
    width: 150px;
    height: auto;
  }

  h1 {
    text-align: center;
    font-size: 1.8rem;
  }
}
